map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

upstream api_upstream {
  server api:4040;
}

upstream client_view_upstream {
  server client-view:3000;
}

upstream operation_view_upstream {
  server operation-view:3000;
}

server {
  listen 80 default_server;
  server_name _;
  return 404;
}

server {
  listen 80;
  server_name client-view.${DOMAIN_SUFFIX};
  include /etc/nginx/templates/virtus-proxy.conf;
  location / {
    proxy_pass http://client_view_upstream;
  }
}

server {
  listen 80;
  server_name operation-view.${DOMAIN_SUFFIX};
  include /etc/nginx/templates/virtus-proxy.conf;
  location / {
    proxy_pass http://operation_view_upstream;
  }
}
